<app-menu></app-menu>
<div class="card" style="width: 94%; margin-left: 3%;">
  <div class="card-header" style="text-align: left;">
      <strong>Welcome</strong>
  </div>
  <div class="card-body">
 
<!--<div class="jumbotron">-->
  <h6><b>CHAIRMAN'S DESK</b></h6>
  <p><b>Continuing with our Best... Changing for the better</b></p>
  <div style="text-align: left;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Respected Elders, Dear young ones, I extend a warm welcome to you all.
    In all the happy moments of life perhaps the most imperishable and gratifying are those rare instances
    when one reflects upon a job well done, new milestone acheived.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There is a need for developing skilled professionals who can contribute
    to the success of an enterprise both at individual and industrial levels. Today's world is highly competitive and
    more so will be tomorrow. But
    equally,
    this world is also full of opportunities that when never dreamt of a decade before.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To grab the dream job, you require the knowledge, the skill
    sets, the ability & confidence to face the world. Education plays really an important role in deciding your future
    as well as career.
  </div>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><b> "Wishing heartiest success to all the students who go through
        this excellent source of wosdom"</b></i></p>
  <br />
  <br />
  <div style="text-align: left;">
    <p>
      <b>Rajani Ranjan Mishra</b><br />
      <i><b>Chairman</b></i></p>
  </div>
</div>
<div class="card-footer"></div>
</div>
<!--</div>-->