<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/welcome'>Home <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>-->
      <!--<li class="nav-item">
        <a class="nav-link" routerLink='/course'>Course</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Course
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/course-form'>Add Course</a>
          <a class="dropdown-item" routerLink='/courses'>Courses</a>
        </div>
      </li>

      <!--<li class="nav-item">
        <a class="nav-link" routerLink='/students'>Student</a>
      </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/student-form'>Add Student</a>
          <a class="dropdown-item" routerLink='/students'>Students</a>
        </div>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" routerLink='/faculty'>Faculty</a>
      </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Faculty
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/faculty-form'>Add Faculty</a>
          <a class="dropdown-item" routerLink='/faculties'>Faculties</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Gallery</a>
      </li>
    </ul>
  </div>
</nav>
